
.table thead tr th {
    height: 32px;
    line-height: 32px;
    padding: 0 5px;
    position: relative;
    background: #e3eaf3;
    color: #7090ab;
    vertical-align: middle;
    border-left: 1px solid #c0d0e4;
    border-bottom: 2px solid #c0d0e4;
    text-align: left;
    font-size: 1em;
    font-weight: normal;
    text-transform: uppercase;

}


.table tbody tr td {
    vertical-align: middle;
    border-bottom: 1px solid #c7c7c7;
    border-left: 1px dotted #c7c7c7;
    border-top: none;
    border-right: none;
    font-size: 1.1em;
    height: 35px;
    padding: 0 5px;
}
